{% extends 'cards/base.html' %}

{%block body%}
    <div class="albums-container container-fluid">
        {% if all_cards %}
                {% for card in all_cards %}
                <div class="col-xs-12 col-sm-4 col-lg-3 holder">
                    <div class="thumbnail">
                        <a href="{# {% url 'cards:detail' card.card_id %} #}{{ card.card_image }}">
                            <img src="{{ card.card_image}}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h3>{{ card.card_name }}</h3>
                            <h5>Mana Cost - {{ card.card_cost }}</h5>
                        </div>
                    </div>
                </div>
                {# {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %} #}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{# {% url 'music:album-add' %} #}#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{%endblock%}